.gallery-item {
  width: 350px;
  margin-bottom: 2.5em;
}

.gallery-item .album img {
  width: 300px;
  height: 300px;
}
.gallery-item .album {
  position: relative;
  width: 80%;
  margin: auto;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.gallery-item .album img {
  width: 100%;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  border: 4px solid #fff;
  -moz-box-shadow: 0 0 4px black;
  -webkit-box-shadow: 0 0 4px black;
  box-shadow: 0 0 4px black;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
  -moz-transform-origin: 50% 50% 50%;
  -ms-transform-origin: 50% 50% 50%;
  -webkit-transform-origin: 50% 50% 50%;
  transform-origin: 50% 50% 50%;
}
.gallery-item .album img:first-child {
  position: relative;
  z-index: 1000;
}
.gallery-item .album img:first-child + img {
  -moz-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
.gallery-item .album img:last-child {
  -moz-transform: rotate(4deg);
  -ms-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
}
.gallery-item .album:hover {
  width: 85%;
}
.gallery-item .album:hover img {
  z-index: 2000;
}
.gallery-item .album:hover img:first-child {
  z-index: 3000;
}
.gallery-item .album:hover img:first-child + img {
  left: -40px;
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.gallery-item .album:hover img:last-child {
  left: 40px;
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.gallery-item p {
  width: 100%;
  text-align: center;
  color: #000000;
  padding-top: 20px;
}
