.gallery-block {
  padding-bottom: 50px;
  padding-top: 40px;
}

.gallery-block .heading {
  margin-bottom: 50px;
  text-align: center;
}

.gallery-block .heading h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

.gallery-block.cards-gallery h6 {
  font-size: 17px;
  font-weight: bold;
}

.gallery-block.cards-gallery .card {
  transition: 0.4s ease;
}

.artfolio-display img {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery .artfolio-display .card-body {
  text-align: center;
}

.gallery-block.cards-gallery .card-body p {
  font-size: 15px;
}

.gallery-block.cards-gallery a {
  color: #212529;
}

.gallery-block.cards-gallery a:hover {
  text-decoration: none;
}

.gallery-block.cards-gallery .card {
  margin-bottom: 30px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
}

.gallery-block.cards-gallery form {
  display: inline;
}

.total-display {
  width: 100%;
}
.artfolio-display {
  float: left;
  width: 70%;
}
.user-info {
  float: right;
  width: 30%;
}

.user-info h2 {
  font-weight: bold;
  font-size: 1.6rem;
}

.user-info .info-tag {
  font-weight: bold;
}
.user-info .card {
  margin-bottom: 30px;
}

.gallery-block.cards-gallery .personal-link {
  color: darkblue;
  font-style: italic;
}

.user-info ul {
  text-align: left;
  font-size: 0.9rem;
  list-style: none;
}

.gallery-block.cards-gallery .user-info .card-body h2 {
  text-align: center;
}

.gallery-block.cards-gallery .user-info .card-body h6 {
  text-align: center;
}

.gallery-block.cards-gallery .user-info .card-body p {
  text-align: center;
}

.gallery-block.cards-gallery .user-info .card-body .info-tag {
  text-align: left;
}

.edit-profile {
  text-align: center;
}

.create-new {
  width: 50%;
}

.social-icons {
  text-align: center;
  box-shadow: none;
}
.social-icons li {
  display: inline-block;
  list-style-type: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}
.social-icons li a {
  border-bottom: none;
}
.social-icons li img {
  width: 30px;
  height: 30px;
  margin-right: 30px;
}
