.edit-profile {
  max-width: 400px;
  text-align: left;
}

.full-width-input {
  max-width: 300px;
  display: block;
  min-height: 1em;
  margin: 10px 0;
  width: 100%;
}

body {
  background-color: silver;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.avatar-lg {
  width: 64px;
  height: 64px;
}

.error {
  color: #a94442;
}
