<h1>Edit Profile</h1>
<form action="/users" method="PUT" class="edit-profile">
    <label>First Name
        <input type="text" name="firstName" placeholder="First Name" value="{{user.firstName}}"
            class="full-width-input" />
    </label>
    <label>Last name
        <input type="text" name="lastName" placeholder="Last Name" value="{{user.lastName}}" class="full-width-input" />
    </label><br />
    <label>Email Address
        <input type="text" name="email" placeholder="Email" value="{{user.email}}" class="full-width-input" />
    </label><br />
    <label>Street Address
        <input type="text" name="address[streetAddress]" placeholder="street address" value=""
            class="full-width-input" />
    </label>
    <label>City
        <input type="text" name="address[city]" placeholder="city" value="" class="full-width-input" />
    </label><br />
    <label>State
        <input type="text" name="address[state]" placeholder="state" value="" class="full-width-input" />
    </label>
    <label>Zip Code
        <input type="text" name="address[zipCode]" placeholder="zip code" value="" class="full-width-input" />
    </label><br />
    <label>Country
        <input type="text" name="address[country]" placeholder="country" value="" class="full-width-input" />
    </label><br />

    <label> F
        <input type="radio" name="gender" value="F" />
    </label>
    <label> M
        <input type="radio" name="gender" value="M" />
    </label><br />
    <label for="biography">
        Biography
    </label>
    <textarea id="biography" name="biography" rows="3" placeholder="Something about yourself"
        class="full-width-input">{{user.biography}}</textarea>
</form>